{% extends 'agoraunicamp/base.html' %}
{% load set_var %}
{% block content12 %}
{% load staticfiles %}

<div style="background:#e2e0e0" class="project-header">
  <label class="toogle-menu" for="toogle-menu-check"><span class="hamburger"></span></label>
  <h1 style="background: #e2e0e0">{{projeto}} - {{sigla}}</h1>
  <input id="toogle-menu-check" name="toogle-menu-check" type="checkbox" />
  <ul class="nav">
    <li style="background: #e2e0e0"><a href="{% url 'agoraunicamp:mural' %}">Home</a></li>
    <li style="background: #f7f7f7"><a href="{% url 'agoraunicamp:paginainicial' %}">Página Inicial</a></li>
    <li style="background: #00c0ef"><a href="{% url 'conheca:conheca' %}">Conheça</a></li>
    <li style="background: #12d673"><a href="{% url 'agora:participe' %}">Participe</a></li>
    <li style="background: #f39c12"><a href="{% url 'resultados:resultados' %}">Resultados</a></li>
    <li style="background: #f56954"><a href="{% url 'forum:home' %}">Comunidade</a></li>
  </ul>
</div>

<div class="home-page" style="margin-top:60px;">
  <div style="margin:10px;">
    <div class="mural-pad"> Mural
    </div>

    {% if message_conheca_count > 3 %}
    <div id="x1" class="mural-box-section" style="display:visible;background:#ffffff;">
      {% for msg in message_conheca|slice:"3" %}
      <p><a href="#" class="mural-content" style="color:#00c0ef;" onclick="window.open('{{msg.address}}', 'Pagina', 'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=770, HEIGHT=400');"><span class="mural-msg-font">{{msg.message}}<font style="font-size:60%" class="mural-date-font">[{{msg.publ_date|date:'d-m-Y'}}]</font></span></a></p>
      {% endfor %}
      <div style="float:right;"><input id="button-mural" style="background:#00c0ef;color:#ffffff;" class="btn btn-default btn-info" type="submit" value="Mais recados" onClick="ativa1()" /></div>
    </div>
    {% else %}
    <div  id="x2" class="mural-box-section" style="display:visible;background:#ffffff;">
      {% for msg in message_conheca %}
      <p><a href="#" class="mural-content" style="color:#00c0ef;" onclick="window.open('{{msg.address}}', 'Pagina', 'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=770, HEIGHT=400');"><span class="mural-msg-font">{{msg.message}}<font style="font-size:60%" class="mural-date-font">[{{msg.publ_date|date:'d-m-Y'}}]</font></span></a></p>
      {% endfor %}
    </div>
    {% endif %}

    <div  id="x3" class="mural-box-section" style="display:none;background:#ffffff;">
      {% for msg in message_conheca %}
      <p><a href="#" class="mural-content" style="color:#00c0ef;" onclick="window.open('{{msg.address}}', 'Pagina', 'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=770, HEIGHT=400');"><span class="mural-msg-font">{{msg.message}}<font style="font-size:60%" class="mural-date-font">[{{msg.publ_date|date:'d-m-Y'}}]</font></span></a></p>
      {% endfor %}
    </div>

    <script>
    function ativa1(){
      document.getElementById("x1").style.display = "none";
      document.getElementById("x3").style.display = "inline";
    }
    </script>

    {% if message_participe_count > 3 %}
    <div id="xx1" class="mural-box-section" style="display:visible;background:#ffffff;">
      {% for msg in message_participe|slice:"3" %}
      <p><a href="#" class="mural-content" style="color:#12d673;" onclick="window.open('{{msg.address}}', 'Pagina', 'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=770, HEIGHT=400');"><span class="mural-msg-font">{{msg.message}}<font style="font-size:60%" class="mural-date-font">[{{msg.publ_date|date:'d-m-Y'}}]</font></span></a></p>
      {% endfor %}
      <div style="float:right;"><input id="button-mural" style="border-color:#12d673;background:#12d673;" class="btn btn-default btn-info" type="submit" value="Mais recados" onClick="ativa()" /></div>
    </div>
    {% else %}
    <div  id="xx2" class="mural-box-section" style="display:visible;background:#ffffff;">
      {% for msg in message_participe %}
      <p><a href="#" class="mural-content" style="color:#12d673;" onclick="window.open('{{msg.address}}', 'Pagina', 'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=770, HEIGHT=400');"><span class="mural-msg-font">{{msg.message}}<font style="font-size:60%" class="mural-date-font">[{{msg.publ_date|date:'d-m-Y'}}]</font></span></a></p>
      {% endfor %}
    </div>
    {% endif %}

    <div  id="xx3" class="mural-box-section" style="display:none;background:#ffffff;">
      {% for msg in message_participe %}
      <p><a href="#" class="mural-content" style="color:#12d673;" onclick="window.open('{{msg.address}}', 'Pagina', 'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=770, HEIGHT=400');"><span class="mural-msg-font">{{msg.message}}<font style="font-size:60%" class="mural-date-font">[{{msg.publ_date|date:'d-m-Y'}}]</font></span></a></p>
      {% endfor %}
    </div>

    <script>
    function ativa(){
      document.getElementById("xx1").style.display = "none";
      document.getElementById("xx3").style.display = "inline";
    }
    </script>

    {% if message_resultados_count > 3 %}
    <div id="xxy1" class="mural-box-section" style="display:visible;background:#ffffff;">
      {% for msg in message_resultados|slice:"3" %}
      <p><a href="#" class="mural-content" style="color:#f39c12;" onclick="window.open('{{msg.address}}', 'Pagina', 'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=770, HEIGHT=400');"><span class="mural-msg-font">{{msg.message}}<font style="font-size:60%" class="mural-date-font">[{{msg.publ_date|date:'d-m-Y'}}]</font></span></a></p>
      {% endfor %}
      <div style="float:right;"><input id="button-mural" style="border-color:#f39c12;background:#f39c12;color:#ffffff;" class="btn btn-default btn-info" type="submit" value="Mais recados" onClick="ativa2()" /></div>
    </div>
    {% else %}
    <div  id="xxy2" class="mural-box-section" style="display:visible;background:#ffffff;">
      {% for msg in message_resultados %}
      <p><a href="#" class="mural-content" style="color:#f39c12;" onclick="window.open('{{msg.address}}', 'Pagina', 'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=770, HEIGHT=400');"><span class="mural-msg-font">{{msg.message}}<font style="font-size:60%" class="mural-date-font">[{{msg.publ_date|date:'d-m-Y'}}]</font></span></a></p>
      {% endfor %}
    </div>
    {% endif %}

    <div  id="xxy3" class="mural-box-section" style="display:none;background:#ffffff;">
      {% for msg in message_resultados %}
      <p><a href="#" class="mural-content" style="color:#f39c12;" onclick="window.open('{{msg.address}}', 'Pagina', 'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=770, HEIGHT=400');"><span class="mural-msg-font">{{msg.message}}<font style="font-size:60%" class="mural-date-font">[{{msg.publ_date|date:'d-m-Y'}}]</font></span></a></p>
      {% endfor %}
    </div>

    <script>
    function ativa2(){
      document.getElementById("xxy1").style.display = "none";
      document.getElementById("xxy3").style.display = "inline";
    }
    </script>

    {% if message_comunidade_count > 3 %}
    <div id="xxyy1" class="mural-box-section" style="display:visible;background:#ffffff;">
      {% for msg in message_comunidade|slice:"3" %}
      <p><a href="#" class="mural-content" style="color:#f56954;" onclick="window.open('{{msg.address}}', 'Pagina', 'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=770, HEIGHT=400');"><span class="mural-msg-font">{{msg.message}}<font style="font-size:60%" class="mural-date-font">[{{msg.publ_date|date:'d-m-Y'}}]</font></span></a></p>
      {% endfor %}
      <div style="float:right;margin-bottom:0px;"><input id="button-mural" style="border-color:#f56954;background:#f56954;" class="btn btn-default btn-info" type="submit" value="Mais recados" onClick="ativa3()" /></div>
    </div>
    {% else %}
    <div  id="xxyy2" class="mural-box-section" style="display:visible;background:#ffffff;">
      {% for msg in message_comunidade %}
      <p><a href="#" class="mural-content" style="color:#f56954;" onclick="window.open('{{msg.address}}', 'Pagina', 'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=770, HEIGHT=400');"><span class="mural-msg-font">{{msg.message}}<font style="font-size:60%" class="mural-date-font">[{{msg.publ_date|date:'d-m-Y'}}]</font></span></a></p>
      {% endfor %}
    </div>
    {% endif %}

    <div  id="xxyy3" class="mural-box-section" style="display:none;background:#ffffff;">
      {% for msg in message_comunidade %}
      <p><a href="#" class="mural-content" style="color:#f56954;" onclick="window.open('{{msg.address}}', 'Pagina', 'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=770, HEIGHT=400');"><span class="mural-msg-font">{{msg.message}}<font style="font-size:60%" class="mural-date-font">[{{msg.publ_date|date:'d-m-Y'}}]</font></span></a></p>
      {% endfor %}
    </div>

    <script>
    function ativa3(){
      document.getElementById("xxyy1").style.display = "none";
      document.getElementById("xxyy3").style.display = "inline";
    }
    </script>

    <div class="mural-pad" style="float:left;margin-bottom:20px;"> Não deixe de participar! Vote!
    </div>
  </div>

  
</div>


{% if tutorial == 'nao' %}

<div id="tutorial2" class="modal fade" role="dialog">
  <div class="modal-dialog" id="modal-dialog-mob">
    <div style="  text-align: center;" >
    <img id="tutorial2img" class="tutorial-image" src="{% static "agora/images/tutorial/7.png" %}" alt="tutorial 1"/>
    </div>
    <div class="modal-footer" style="border-top:0px;">
      <button style="display:block;float:right;" id="tutorial2-button" type="button" class="btn-sm btn-default" data-dismiss="modal">Navegar pelo Mural e continuar</button>
    </div>
  </div>
</div>

<script>
$('#tutorial2').modal('show')
</script>

{% endif %}

{% endblock content12 %}
