{% extends 'agoraunicamp/base.html' %}
{% load staticfiles %}
{% load set_var %}
{% block content12 %}


{% if tutorial == 'nao' %}
<div id="tutorial1" class="modal fade" role="dialog">
  <div class="modal-dialog" id="modal-dialog-mob">
    <div style="  text-align: center;" >
      <img id="tutorial1img" class="tutorial-image" src="{% static "agora/images/tutorial/13.png" %}" alt="tutorial 1"/>
    </div>
    <div class="modal-footer" style="border-top:0px;">
      <button style="display:block;float:right;" id="tutorial1-button" type="button" class="btn-sm btn-default" onclick="proximo()">Próximo</button>
      <a href="{% url 'agoraunicamp:encerra_tutorial' %}"><button style="display:none;float:right;" id="tutorial2-button" type="button" class="btn-sm btn-default" href="{% url 'agoraunicamp:encerra_tutorial' %}" >Encerrar o Tutorial</button></a>
    </div>
  </div>
</div>

<script>
$('#tutorial1').modal('show')
</script>

<script type="text/javascript">
var i = 14;
function proximo(){
  var endp = '/static/agora/images/tutorial/' + i + '.png';
  document.getElementById('tutorial1img').src=endp ;
  if (i == 15) {
    document.getElementById('tutorial1-button').style.display='none';
    document.getElementById('tutorial2-button').style.display='block';
  }
  i++;
}
</script>

{% endif %}


<div style="background:#ffffff" class="project-header-config"> Ágora Unicamp - Configurações
</div>

<div class="plainlinks hlist" style="width:95%;border-top:1px solid black; padding-top:0.4em; margin:0 auto;"></div>

<div style="height:100%;margin-bottom:200px;">
  <div class="config-welcome"> Olá,
    {% if nickname %}
    {{nickname}}
    {% else %}
    {{user.primeiro_nome}}
    {% endif %}
    ! Gostaria de alterar o seu perfil?
  </div>

  {% for message in messages %}
  <div id="config-message" class="alert alert-{{ message.tags }} alert-dismissible fade in" role="alert">
    <button type="button" style="width:60%:margin:0 auto;" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{ message }}
  </div></br>
  {% endfor %}

  <div class="form-inline-config">
    <div class="item-config">Como gostaria de ser chamado?
    </div>
    <form class="form-config" action="{% url 'agoraunicamp:apelido-config' %}" method="post" role="form">
      <input id="apelido" type="textarea" value="" name="text-apelido" placeholder="{{user.nickname}}" class="textarea-size-apelido">
      <button class="button-margin" type="submit">Enviar</button>
    </form>
    <form action="{% url 'agoraunicamp:apelido-remove' %}" method="post" role="form" style="float:left;">
      <button class="button-margin" type="submit">Remover nome</button>
    </form>
  </div>

  <div class="form-inline-config">
    <form action="{% url 'agoraunicamp:email-config' %}" method="post" role="form">
      <label class="item-config" for="email">Gostaria de incluir um novo endereço de Email?</label>
      <input class="textarea-size-email" placeholder="{{user.email}}" type="email" name="text-email">
      <button class="button-margin" type="submit">Enviar</button>
    </form>
  </div>

  <div class="form-inline-config">
    <form action="{% url 'agoraunicamp:re_tutorial' %}" method="post" role="form">
      <label class="item-config" for="email">Gostaria de refazer o tutorial? </label>
      <button class="button-margin" type="submit">Refazer tutorial</button>
    </form>
  </div>



  <span class="back-agora"><a style="text-decoration:none;color:black;" href={% url 'agoraunicamp:agora' %}>Voltar</span>



  </div>


  <script type="text/javascript">
  jQuery(function($) {
    function resizeImage() {
      var x = $(window).height();
      $(".my-div").css("height", x * 0.75);
    }
    $(window).resize(resizeImage);
    resizeImage();
  });
  </script>






  {% endblock content12 %}
