{% extends 'agoraunicamp/base.html' %}
{% load staticfiles %}
{% load set_var %}

{% block content12 %}


<div class="my-div" style="margin-bottom:50px;">
  <div class="welcome-user"> Olá,
    {% if nickname %}
    {{nickname}}.
    {% else %}
    {{user.user.primeiro_nome}}{{user.primeiro_nome}}.
    {% endif %} Seja bem-vindx ao projeto
  </div>
  <div class="agora-title"><img id="unicamp6" class="agora-image" src="{% static "agora/images/agora-unicamp-logo.png" %}" alt="logo agora"/></div>
  <div class="agora-subtitle"> Um espaço de debate, consulta e participação política da comunidade. </div>
  <div class="agora-subtitle"> Escolha um projeto, conheça, debata, vote e decida: </div>
  <ul class="nav">
    {% for proj in projetos %}

    <li class="box-project" style="margin-bottom:50px"><a style="color:black;" href="{% url 'agoraunicamp:atualiza-projeto' proj.sigla %}">{{proj.projeto}} - {{proj.sigla}}</a></li>

    {% endfor %}
  </ul>
</div>


{% if tutorial == 'nao' %}

<div id="tutorial1" class="modal fade" role="dialog">
  <div class="modal-dialog" id="modal-dialog-mob">
    <div style="  text-align: center;" >
    <img id="tutorial1img" class="tutorial-image" src="{% static "agora/images/tutorial/1.png" %}" alt="tutorial 1"/>
    </div>
    <div class="modal-footer" style="border-top:0px;">
      <button style="display:block;float:right;" id="tutorial1-button" type="button" class="btn-sm btn-default" onclick="proximo()">Próximo</button>
      <button style="display:none;float:right;" id="tutorial2-button" type="button" class="btn-sm btn-default" data-dismiss="modal" >Escolha um projeto</button>
    </div>
  </div>
</div>

<script>
$('#tutorial1').modal('show')
</script>

<script type="text/javascript">
var i = 2;
function proximo(){
  var endp = '/static/agora/images/tutorial/' + i + '.png';
  document.getElementById('tutorial1img').src=endp ;
  if (i == 5) {
    document.getElementById('tutorial1-button').style.display='none';
    document.getElementById('tutorial2-button').style.display='block';
  }
  i++;
}
</script>

{% endif %}







{% endblock content12 %}
