{% extends 'agoraunicamp/base.html' %}
{% load staticfiles %}
{% load set_var %}
{% block content12 %}


<div class="my-div" style="height:100%;">
  <div class="welcome-user"> Olá, {{user.username}}! Seja bem-vindx ao projeto Ágora Virtual - Unicamp. </div>
  <div class="agora-title" style="">Termo de Consentimento Livre e Esclarecido</div>
  <div class="agora-subtitle"> termo </div>



    <form action="{% url 'agoraunicamp:term_accepted' %}" method="post" >
      <input style="margin:1 auto;float:left" id="button-forum" class="btn btn-default btn-info" type="submit" value="Aceito" /></center>
    </form>
    <form action="{% url 'agoraunicamp:term_not_accepted' %}" method="post">
      <input style="margin:1 auto;float:left" id="button-forum" class="btn btn-default btn-info" type="submit" value="Não Aceito" /></center>
    </form>

</div>

{% endblock content12 %}
