{% extends 'agoraunicamp/base.html' %}
{% load set_var %}
{% block content12 %}

<div style="background: #f56954" class="project-header">
  <label class="toogle-menu" for="toogle-menu-check"><span class="hamburger"></span></label>
  <h1 style="background: #f56954">{{projeto}} - {{sigla}}</h1>
  <input id="toogle-menu-check" name="toogle-menu-check" type="checkbox" />
  <ul class="nav">
    <li style="background: #e2e0e0"><a href="{% url 'agoraunicamp:mural' %}">Home</a></li>
    <li style="background: #f7f7f7"><a href="{% url 'agoraunicamp:paginainicial' %}">Página Inicial</a></li>
    <li style="background: #00c0ef"><a href="{% url 'conheca:conheca' %}">Conheça</a></li>
    <li style="background: #12d673"><a href="{% url 'agora:participe' %}">Participe</a></li>
    <li style="background: #f39c12"><a href="{% url 'resultados:resultados' %}">Resultados</a></li>
    <li style="background: #f56954"><a href="{% url 'forum:home' %}">Comunidade</a></li>
  </ul>
</div>


<div class="forum-menu">
  <div style="padding:20px">
    <div class="list-group">
      {% if category %}
      {% for category in category %}
      <a class="list-group-item" href="{% url 'forum:forum' category|slugify category.id %}"><strong>{{ category }}</strong></a>
      {% for topics in category.topic_set.all %}
      <li><div style="padding:10px"><a style="color:black" href="{% url 'forum:topic' topics.id %}">{{ topics }}</a></div></li>
      {% endfor %}
      {% endfor %}
      {% endif %}
    </div>
  </div>
</div>

<div class="forum-section">
  <div style="padding:30px;">
    <div class="forum-topic">
      {% if topic %}
      <div id="area{{topic.id}}" class="header-topic">
        <div style="font-weight:bold;font-size:25px;">{{ topic }}
        </div>
        <p>
          {% for tag in topic.tags.all %}
          <form style="float:left;" action="{% url 'agoraunicamp:search' tag.name %}" method="post">
            <input id="tags" style="float:left;border:0px" class="btn-xs btn-default btn-info" type="submit" value="{{ tag.name }}"/> &nbsp
          </form>
          {% endfor %}
          <div class="pub-style"><strong>Publicado em:</strong>{{ topic.publ_date }}</div>
        </form>
        </p>
        <p>{{ topic.text|safe }}</p>
      </div>
      <div class="plainlinks hlist">
      </div>


      {% for answer in topic.topicanswer_set.all %}
      <div class="render-response">
        <div class="forum-username">{{ answer.user}}{% if answer.user.user.user.nickname %}
        ({{answer.user.user.user.nickname}})
        {% endif %}&nbsp;&nbsp;
        </div>
        <div>{{ answer.text|safe|linebreaks }}
        </div>
        <div style="color:#9197a3">{{answer.answer_date}}
        </div>

        {% if answer.user == topic_user %}
        <div style="float:right">
          <input id="botao" name="div{{answer.text}}{{answer.answer_date}}" type="button" style="display:visible"  value="editar" onClick="ativa(this.name)" />
        </div>
        <div id="div{{answer.text}}{{answer.answer_date}}" style="display:none" class="response-area">
          <form action="{% url 'forum:answer_home_edit' topic.id  %}" method="post">
            <textarea  name="text" rows='1' class="response-textarea">{% autoescape off %}{{ answer.text }}{% endautoescape %}
            </textarea>
            <center><input id="button-forum" class="btn btn-default btn-info" type="submit" value="Responder" /></center>
          </form>
        </div>

        <script>
        function ativa(x){
          var div = document.getElementById(x);
          /* se conteúdo está escondido, mostra e troca o valor do botão para: esconde */
          if (div.style.display == 'none') {

            div.style.display = "inline"
          } else {
            /* se conteúdo está a mostra, esconde o conteúdo e troca o valor do botão para: mostra */
            div.style.display = 'none'
            document.getElementById("botao").value='editar'
          }
        }
        </script>

        {% endif %}



      </div>

      {% endfor %}
      {% endif %}
      <br /><br />

      {% set flag = 0 %}
      {% for t in topic_users %}
      {% if t.topic == topic %}
      {% if t.user = topic_user %}
      {% set flag = 1 %}
      {% endif %}
      {% endif %}
      {% endfor %}

      {% if flag = 0 %}

      <div id="area{{topic.id}}" class="response-area">
        <form action="{% url 'forum:answer_home' topic.id %}" method="post">
          <textarea  name="text" rows='1' placeholder='Comente aqui' class="response-textarea"></textarea>
          <center><input id="button-forum" class="btn btn-default btn-info" type="submit" value="Responder" /></center>
        </form>
      </div>
      <!--<button id="b" style="visibility:visible;margin:5px" type="button" onclick="Mudarestado('minhaDiv{{topic.id}}')">Comentar</button>-->

      <script>
      function Mudarestado(el) {
        var display = document.getElementById(el).style.display;

        if(display == "none")
        document.getElementById(el).style.display = 'block';
        document.getElementById(b).style.visibility = 'hidden';
        else
        document.getElementById(el).style.display = 'none';
        document.getElementById(b).style.visibility = 'visible';
      }
      </script>

      {% endif %}
    </div>
  </div>
</div>



{% endblock content12 %}
