{% extends 'agoraunicamp/base.html' %}
{% load set_var %}
{% load staticfiles %}
{% block content12 %}


{% if tutorial == 'nao' %}
<div id="tutorial2" class="modal fade" role="dialog">
  <div class="modal-dialog" id="modal-dialog-mob">
    <div style="  text-align: center;" >
      <img id="tutorial2img" class="tutorial-image" src="{% static "agora/images/tutorial/9.png" %}" alt="tutorial 1"/>
    </div>
    <div class="modal-footer" style="border-top:0px;">
      <button style="display:block;float:right;" id="tutorial2-button" type="button" class="btn-sm btn-default" data-dismiss="modal">Navegar pela sessão e continuar</button>
    </div>
  </div>
</div>

<script>
$('#tutorial2').modal('show')
</script>

{% endif %}

<div style="background: #f56954" class="project-header">
  <label class="toogle-menu" for="toogle-menu-check"><span class="hamburger"></span></label>
  <h1 style="background: #f56954">{{projeto}} - {{sigla}}</h1>
  <input id="toogle-menu-check" name="toogle-menu-check" type="checkbox" />
  <ul class="nav">
    <li style="background: #e2e0e0"><a href="{% url 'agoraunicamp:mural' %}">Home</a></li>
    <li style="background: #f7f7f7"><a href="{% url 'agoraunicamp:paginainicial' %}">Página Inicial</a></li>
    <li style="background: #00c0ef"><a href="{% url 'conheca:conheca' %}">Conheça</a></li>
    <li style="background: #12d673"><a href="{% url 'agora:participe' %}">Participe</a></li>
    <li style="background: #f39c12"><a href="{% url 'resultados:resultados' %}">Resultados</a></li>
    <li style="background: #f56954"><a href="{% url 'forum:home' %}">Comunidade</a></li>
  </ul>
</div>

<div class="forum-section">
  {% for topic in topic %}
  <div class="topic-position">
    <div class="forum-topic">
      {% if topic %}
      <div id="area{{topic.id}}" class="header-topic">
        <div class="title-name">{{ topic }}</div>
        <p>
          {% for tag in topic.tags.all %}
          <form style="float:left;" action="{% url 'agoraunicamp:search' tag.name %}" method="post">
            <input id="tags" style="float:left;border:0px" class="btn-xs btn-default btn-info" type="submit" value="{{ tag.name }}"/> &nbsp
          </form>
          {% endfor %}
          <div class="pub-style"><strong>Publicado em:</strong>{{ topic.publ_date }}</div>
        </form>
        </p>
        <span class="subtitle-name-topic">{{ topic.text|safe }}</span>
      </div>
      <div class="plainlinks hlist">
      </div>








      {% for answer in topic.topicanswer_set.all %}
      <div class="render-response">
        <div class="forum-username">{{ answer.user}}{% if answer.user.user.user.nickname %}
          ({{answer.user.user.user.nickname}})
          {% endif %}&nbsp;&nbsp;
        </div>
        <div contenteditable="true" class="sub-title-topic" id="test">{{ answer.text|safe|linebreaks }}
        </div>
        <div style="float:left" class="sub-title-name">{{answer.answer_date}}
        </div>

        {% if answer.user == topic_user %}
        <div style="float:right">
          <input id="botao" name="div{{answer.text}}{{answer.answer_date}}" type="button" style="display:visible"  value="editar" onClick="ativa(this.name)" />
        </div>
        <div id="div{{answer.text}}{{answer.answer_date}}" style="display:none" class="response-area">
          <form action="{% url 'forum:answer_home_edit' topic.id  %}" method="post">
            <textarea  name="text" rows='1' class="response-textarea">{% autoescape off %}{{ answer.text }}{% endautoescape %}
            </textarea>
            <center><input id="button-forum" class="btn btn-default btn-info" type="submit" value="Responder" /></center>
          </form>
        </div>

        <script>
        function ativa(x){
          var div = document.getElementById(x);
          /* se conteúdo está escondido, mostra e troca o valor do botão para: esconde */
          if (div.style.display == 'none') {

            div.style.display = "inline"
          } else {
            /* se conteúdo está a mostra, esconde o conteúdo e troca o valor do botão para: mostra */
            div.style.display = 'none'
            document.getElementById("botao").value='editar'
          }
        }
        </script>

        {% endif %}




      </div>
      <br/>
      {% endfor %}
      {% endif %}
      <br/>

      {% set flag = 0 %}
      {% for t in topic_users %}
      {% if t.topic == topic %}
      {% if t.user == topic_user %}
      {% set flag = 1 %}
      {% endif %}
      {% endif %}
      {% endfor %}

      {% if flag == 0 %}

      <div class="response-area">
        <form action="{% url 'forum:answer_home' topic.id %}" method="post">
          <textarea  name="text" rows='1' placeholder='Comente aqui' class="response-textarea"></textarea>
          <center><input id="button-forum" class="btn btn-default btn-info" type="submit" value="Responder" /></center>
        </form>
      </div>
      <!--<button id="b" style="visibility:visible;margin:5px" type="button" onclick="Mudarestado('minhaDiv{{topic.id}}')">Comentar</button>-->

      <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <script type="text/javascript" src="{% static "agora/ckeditor/ckeditor/ckeditor.js" %}"></script>
      <script type="text/javascript" src="{% static "agora/ckeditor/ckeditor-init.js" %}"></script>
      <script type="text/javascript" src="{% static "agora/ckeditor/ckeditor/adapters/jquery.js" %}"></script>
      <script>
      var textarea = document.querySelector('textarea');

      textarea.addEventListener('keydown', autosize);

      function autosize(){
        var el = this;
        setTimeout(function(){
          el.style.cssText = 'height:auto; padding:0';
          // for box-sizing other than "content-box" use:
          // el.style.cssText = '-moz-box-sizing:content-box';
          el.style.cssText = 'height:' + el.scrollHeight + 'px';
        },0);
      }
      </script>
      {% endif %}
    </div>
  </div>
  {% endfor %}


</div>


{% endblock content12 %}
