{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'agora/bootstrap/docs/favicon.ico' %}">

    <title>Carousel Template for Bootstrap</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'agora/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'agora/bootstrap/docs/assets/css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{% static 'agora/bootstrap/docs/assets/js/ie-emulation-modes-warning.js' %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src=""></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="{% static 'agora/bootstrap/docs/examples/carousel/carousel.css' %}" rel="stylesheet">




  </head>
<!-- NAVBAR
================================================== -->
  <body>


    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Agora Unicamp - ECC</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>



    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-interval="false" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>

      </ol>
      <div class="carousel-inner" role="listbox" >


        <div id="slide1" class="item">
          <div class="container">
            <div class="carousel-caption" style="position:relative;left:0%;right:0%;margin-top:100px;background:white;min-height:300px;">
              <div class="box-passo">PASSO 1</div>
              <div class="box-etapa"> DADOS DE ENTRADA</div>
                <a href="{% url 'extrator:dados' %}" style="text-decoration: none;" class="set-buttons" online="ativa(this.name)">Enviar dados</a>
            </div>
          </div>
        </div>

        <div id="slide2" class="item" >
          <div class="container">
            <div class="carousel-caption" style="position:relative;left:0%;right:0%;margin-top:100px;background:white;min-height:300px;">
              <div class="box-passo">PASSO 2</div>
              <div class="box-etapa"> PRÉ-PROCESSAMENTO</div>
              <a id="1s2" href="{% url 'extrator:preproc' %}" style="text-decoration: none;" class="set-buttons" >Preparar dados</a>
              <a class="glyphicon glyphicon-arrow-right" id="set-g"></a>
              <a href="{% url 'extrator:lematizador' %}" style="text-decoration: none;" class="set-buttons">Lematizar</a>
              <a class="glyphicon glyphicon-arrow-right" id="set-g"></a>
              <a href="{% url 'extrator:preprocsw' %}" style="text-decoration: none;" class="set-buttons">Preparar stop-words</a>
              <a class="glyphicon glyphicon-arrow-right" id="set-g"></a>
              <a href="{% url 'extrator:stopwords' %}" style="text-decoration: none;" class="set-buttons">Eliminar stop-words</a>
              <a class="glyphicon glyphicon-arrow-right" id="set-g"></a>
              <a href="{% url 'extrator:salvar' %}" style="text-decoration: none;" class="set-buttons">Salvar no BD</a>
              <a class="glyphicon glyphicon-arrow-right" id="set-g"></a>
              <a href="{% url 'extrator:relatorio' %}" style="text-decoration: none;" class="set-buttons">Gerar Relatório</a>
              <a href="{% url 'extrator:ver_arquivo' 'stopwords' %}" style="text-decoration: none;display:block;margin:0 auto;margin-top:15px;height:40px;width:100px;font-size:70%;background:#e07070;" class="set-buttons" >Ver\Editar Lista de stop-words</a>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="container">
            <div class="carousel-caption" style="position:relative;left:0%;right:0%;margin-top:100px;background:white;min-height:300px;">
              <div class="box-passo">PASSO 3</div>
              <div class="box-etapa"> REDE COMPLEXA</div>
              <a href="{% url 'extrator:lista_vertices' %}" style="text-decoration: none;" class="set-buttons">Gerar vértices</a>
              <a class="glyphicon glyphicon-arrow-right" id="set-g"></a>
              <a href="{% url 'extrator:mapear' %}" style="text-decoration: none;" class="set-buttons">Gerar ligações</a>
              <a class="glyphicon glyphicon-arrow-right" id="set-g"></a>
              <a href="{% url 'extrator:matriz' %}" style="text-decoration: none;" class="set-buttons">Gerar rede</a>
              <a class="glyphicon glyphicon-arrow-right" id="set-g"></a>

              <a style="text-decoration:none;display:block;margin:0 auto;height:0px;width:100%;padding:0px;" class="set-buttons" ></a>

              <a class="glyphicon glyphicon-arrow-down" id="set-g" style="margin-top:0px;margin-left:210px;display:block;"></a>

              <a style="text-decoration:none;display:block;margin:0 auto;height:0px;width:100%;padding:0px;" class="set-buttons" ></a>

              <a style="text-decoration: none;margin-top:0px;visibility:hidden;" class="set-buttons"></a>
              <a style="visibility:hidden;" class="glyphicon glyphicon-arrow-right" id="set-g"></a>
              <a style="text-decoration: none;margin-top:0px;visibility:hidden;" class="set-buttons"></a>
              <a style="visibility:hidden;" class="glyphicon glyphicon-arrow-right" id="set-g"></a>
              <a href="{% url 'extrator:rede_complexa'%}" style="text-decoration: none;margin-top:5px;height:40px;background:#e07070" class="set-buttons">Ver Rede</a>
              <a style="margin-top:40px;display:inline-block;visibility:hidden;" class="glyphicon glyphicon-arrow-right"></a>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="container">
            <div class="carousel-caption" style="position:relative;left:0%;right:0%;margin-top:100px;background:white;min-height:300px;">
              <div class="box-passo">PASSO 4</div>
              <div class="box-etapa"> METRICAS E RANKING</div>
              <a href="{% url 'extrator:logmetricas' %}" style="text-decoration: none;" class="set-buttons">Calcular métricas</a>
              <a class="glyphicon glyphicon-arrow-right" id="set-g"></a>
              <a href="{% url 'extrator:gerartabelas' %}" style="text-decoration: none;" class="set-buttons">Gerar tabelas</a>
              <a class="glyphicon glyphicon-arrow-right" id="set-g"></a>

              <a style="text-decoration:none;display:block;margin:0 auto;height:0px;width:100%;padding:0px;" class="set-buttons" ></a>

              <a class="glyphicon glyphicon-arrow-down" id="set-g" style="margin-top:0px;margin-left:210px;display:block;visibility:hidden;visibility:hidden;"></a>

              <a style="text-decoration:none;display:block;margin:0 auto;height:0px;width:100%;padding:0px;" class="set-buttons" ></a>

            <a href="{% url 'extrator:mostra_tabela' 'graus'%}" style="text-decoration: none;margin-top:5px;height:80px;background:#e07070" class="set-buttons">Ver Tabela Graus</a>
              <a style="visibility:hidden;" class="glyphicon glyphicon-arrow-right" id="set-g"></a>
              <a href="{% url 'extrator:mostra_tabela' 'bet'%}" style="text-decoration: none;margin-top:5px;height:80px;background:#e07070;font-size:92%" class="set-buttons">Ver Tabela Betweeness</a>
              <a style="visibility:hidden;" class="glyphicon glyphicon-arrow-right" id="set-g"></a>
              <a href="{% url 'extrator:mostra_tabela' 'closs'%}" style="text-decoration: none;margin-top:5px;height:80px;background:#e07070;" class="set-buttons">Ver Tabela Closeness</a>
              <a style="margin-top:40px;display:inline-block;visibility:hidden;" class="glyphicon glyphicon-arrow-right"></a>
            </div>
          </div>
        </div>

        <div class="item active">
          <div class="container">
            <div class="carousel-caption" style="position:relative;left:0%;right:0%;margin-top:100px;background:white;min-height:300px;">
              <div class="box-passo">PASSO 5</div>
              <div class="box-etapa"> PROTO-FRASES</div>
              <a href="{% url 'extrator:removerpfs'%}" style="text-decoration: none;" class="set-buttons">Limpa Banco de Dados</a>
              <a class="glyphicon glyphicon-arrow-right" id="set-g" style="top:-50px;"></a>
              <form style="display:inline-block;text-shadow:none;color:black;margin-top:40px;" action="{% url 'extrator:salva_vertice_inicial' %}" method="POST" role="form" enctype="multipart/form-data">
                <div style="float:left;margin-right:5px;margin-left:10px;">Palavra </div>
                <select id="categoria" name="verticeinicial">
                          {% for vertice in vertices %}
                          <option value="{{vertice.node}}"
                          {% if vertice == categoriatag %}
                          selected
                          {% endif %}>
                          {{vertice.node}}
                        </option>
                        {% endfor %}
                </select>
                <br><br>
                <div style="margin-left:10px;float:left;margin-right:5px;"> Quantidade de proto-frases: </div>
                <input type="number" name="num_protofrases" min="1" max="10000">
                <br><br>
                <div style="display:block">
                  <div class="form-inline-config" style="margin-left:0px;">
                      <input class="btn btn-primary" type="submit"></input>
                  </div>
                </div>
              </form>
              <a class="glyphicon glyphicon-arrow-right" id="set-g" style="top:-50px;"></a>
              <a href="{% url 'extrator:gerarpfs' %}" style="text-decoration: none;" class="set-buttons">Gerar Proto-frases</a>
              <a class="glyphicon glyphicon-arrow-right" id="set-g" style="top:-50px;"></a>
              <a href="{% url 'extrator:dados_protofrases' %}" style="text-decoration: none;" class="set-buttons">Relatório de dados</a>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="container" style="height:400px;overflow-y: scroll;">
            <div class="carousel-caption" style="position:relative;left:0%;right:0%;margin-top:100px;background:white;min-height:300px;">
              <div class="box-passo">PASSO 6</div>
              <div class="box-etapa"> MAPEAMENTO E EXTRAÇÃO DE PARÁGRAFOS</div>
              <a href="{% url 'extrator:carrega_arq'%}" style="text-decoration:none;display:block;margin:0 auto;margin-top:20px;font-size:90%" class="set-buttons">Carrega arquivos de protofrases</a>
              <a class="glyphicon glyphicon-arrow-down" style="display:block;color:black;margin:10px;"></a>
              <form style="display:block;text-shadow:none;color:black;margin:0 auto;text-align: center;" action="{% url 'extrator:salva_arquivo' %}" method="POST" role="form" enctype="multipart/form-data">
                      <div style="display:inline-block;margin-right:5px;margin-left:10px;padding:5px;">Arquivo</div>
                      <select id="categoria" name="arquivo_selecionado" style="display:inline-block;padding:5px;">
                          {% for arquivo in arquivos %}
                          <option value="{{arquivo}}"
                          {% if vertice == categoriatag %}
                          selected
                          {% endif %}>
                          {{arquivo}}
                        </option>
                        {% endfor %}
                      </select>
                      <div class="form-inline-config" style="display:inline-block">
                          <input class="btn btn-primary" type="submit"></input>
                      </div>

              </form>
              <a class="glyphicon glyphicon-arrow-down" style="display:block;color:black;text-align:center;top:0px;margin:10px;"></a>
              <form style="display:block;text-shadow:none;color:black;margin:0 auto;text-align: center;" action="{% url 'extrator:salva_protofrase' %}" method="POST" role="form" enctype="multipart/form-data">
                      <div style="display:inline-block;margin-right:5px;margin-left:10px;padding:5px;">Proto-frase</div>
                      <select id="pf_select" name="protofrase_selecionada" style="display:inline-block;padding:5px;">
                          {% for pf in proto_frases %}
                          <option value="{{pf}}"
                          {% if vertice == categoriatag %}
                          selected
                          {% endif %}>
                          {{pf}}
                        </option>
                        {% endfor %}
                      </select>
                      <div class="form-inline-config" style="display:inline-block">
                          <input class="btn btn-primary" type="submit"></input>
                      </div>
              </form>
              <a class="glyphicon glyphicon-arrow-down" style="display:block;color:black;margin:10px;"></a>
              <a href="{% url 'extrator:map_prepararTextos' %}" style="text-decoration:none;display:block;margin:0 auto;margin-top:20px;" class="set-buttons">Preparar textos</a>
              <a class="glyphicon glyphicon-arrow-down" style="display:block;color:black;margin:10px;"></a>
              <a href="{% url 'extrator:map_mapearprotofrase' %}" style="text-decoration:none;display:block;margin:0 auto;margin-top:20px;" class="set-buttons">Extrair parágrafos</a>
              <a class="glyphicon glyphicon-arrow-down" style="display:block;color:black;margin:10px;"></a>
              <a href="{% url 'extrator:rel_paragrafos' %}" style="text-decoration:none;display:block;margin:0 auto;margin-top:20px;" class="set-buttons">Relatório de extração</a>

            </div>
          </div>
      </div>
    </div>



































      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing" style="margin-top:0px;">
      {% for message in messages %}
      <div style="width:70%;text-shadow:none;margin: 0 auto;margin-top:0px;font-size:90%;" id="config-message" class="alert alert-{{ message.tags }} alert-dismissible fade in" role="alert">
        <button type="button"  class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ message }}
      </div>
      {% endfor %}

      <!-- START THE FEATURETTES -->



      <div class="row featurette">

        {% if dados_de_entrada %}
        <div id="dadosdeentrada" class="col-md-7">
          <h2>Dados de Entrada: </h2>
        </br>
          <p class="lead">{{dados_de_entrada|linebreaks}}</p>
        </div>
        {% endif %}

        {% if relatorio_preproc %}
        <div id="relatoriopreproc" class="col-md-7">
          <h2>Relatório Passo 2: </h2>
        </br>
          <p class="lead">{{relatorio_preproc|linebreaks}}</p>
        </div>
        {% endif %}

        {% if tabela_graus %}
        <div class="col-md-7">
          <h2>Tabela Graus: </h2>
        </br>
          <p class="lead">{{tabela_graus|linebreaks}}</p>
        </div>
        {% endif %}

        {% if tabela_bet %}
        <div class="col-md-7">
          <h2>Tabela Betweenness: </h2>
        </br>
          <p class="lead">{{tabela_bet|linebreaks}}</p>
        </div>
        {% endif %}

        {% if tabela_closs %}
        <div class="col-md-7">
          <h2>Tabela Closenness: </h2>
        </br>
          <p class="lead">{{tabela_closs|linebreaks}}</p>
        </div>
        {% endif %}

        {% if relatorio_protofrases %}
        <div class="col-md-7">
          <h2>Relatório proto-frases: </h2>
        </br>
          <p class="lead">{{relatorio_protofrases|linebreaks}}</p>
        </div>
        {% endif %}

        {% if relatorio_ext %}
        <div class="col-md-7">
          <h2>Relatório de Extração: </h2>
        </br>
          <p class="lead">{{relatorio_ext|linebreaks}}</p>
        </div>
        {% endif %}

      <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->







        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{% static 'agora/bootstrap/docs/assets/js/vendor/jquery.min.js' %}"><\/script>')</script>
        <script src="{% static 'agora/bootstrap/dist/js/bootstrap.min.js' %}"></script>
        <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
        <script src="{% static 'agora/bootstrap/docs/assets/js/vendor/holder.min.js' %}"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="{% static 'agora/bootstrap/docs/assets/js/ie10-viewport-bug-workaround.js' %}"></script>



      </body>
    </html>




    </body>

    </html>
