{% extends 'agoraunicamp/base.html' %}
{% load staticfiles %}
{% load set_var %}
{% block content12 %}

<div class="box-question" style="border:1px solid #f39c12;width:100%;margin-top:53px">
  <div class="box-result-title">
    {% if relatorio.questao == None %}
    Resultado Geral
    {% endif %}

    {% if relatorio.questao != None %}
    Resultado {{ relatorio.questao }}
    {% endif %}
  </div>
  <div class="box-result-content">
    <p>
      {% for tag in Relatorio.tags.all %}
      <form style="float:left;" action="{% url 'agoraunicamp:search' tag.name %}" method="post">
        <input style="float:left;border:0px" class="btn-xs btn-default btn-info" type="submit" value="{{ tag.name }}"/> &nbsp
      </form>
      {% endfor %}
      <strong>Publicado em:</strong> {{ relatorio.publ_date }}
    </p>
    <div class="plainlinks hlist" style="width:100%;clear:both; border-top:1px solid #f39c12; padding-top:0.4em; margin-top:0.8em;">
    </div>
    {{relatorio.conteudo|safe}}
    <br>
    <div class="plainlinks hlist" style="width:100%;clear:both; border-top:1px solid #f39c12; padding-top:0.4em; margin-top:0.8em;">
    </div>
    &nbsp;&nbsp;
    <form  style="display:inline-block;" action="{% url 'resultados:like' relatorio.id %}" method="post">
      {% csrf_token %}
      <input  id="like" name="like1" type="image" src="{% static "resultados/like.jpg" %}" alt="like"  value="Vote" height="22" width="22" />&nbsp;{{relatorio.like}}
    </form>
    &nbsp;
    <form style="display:inline-block;" action="{% url 'resultados:dislike' relatorio.id %}" method="post">
      {% csrf_token %}
      <input  id="dislike" name="dislike1" type="image" src="{% static "resultados/dislike.jpg" %}" alt="dislike"  value="Vote" height="22" width="22" />&nbsp;{{relatorio.dislike}}
    </form>
  </div>
</div>

  {% endblock %}
