{% extends 'agoraunicamp/base.html' %}
{% load set_var %}
{% load staticfiles %}
{% block content12 %}


<div style="background: #f39c12" class="project-header">
  <label class="toogle-menu" for="toogle-menu-check"><span class="hamburger"></span></label>
  <h1 style="background: #f39c12">{{projeto}} - {{sigla}}</h1>
  <input id="toogle-menu-check" name="toogle-menu-check" type="checkbox" />
  <ul class="nav">
    <li style="background: #e2e0e0"><a href="{% url 'agoraunicamp:mural' %}">Home</a></li>
    <li style="background: #f7f7f7"><a href="{% url 'agoraunicamp:paginainicial' %}">Página Inicial</a></li>
    <li style="background: #00c0ef"><a href="{% url 'conheca:conheca' %}">Conheça</a></li>
    <li style="background: #12d673"><a href="{% url 'agora:participe' %}">Participe</a></li>
    <li style="background: #f39c12"><a href="{% url 'resultados:resultados' %}">Resultados</a></li>
    <li style="background: #f56954"><a href="{% url 'forum:home' %}">Comunidade</a></li>
  </ul>
</div>
<div style="margin-top:100px;">
  <div class="left-side-result">
    {% for Relatorio in object_list %}
    <div  class="box-question" style="border:1px solid #f39c12;width:100%;">
      <div id="relatorio{{Relatorio.id}}" class="box-result-title">
        {% if Relatorio.questao == None %}
        <a href="#" style="color:black;" onclick="window.open('{{Relatorio.address}}', 'Pagina', 'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=770, HEIGHT=400');">Resultado Geral</a>
        {% endif %}
        {% if Relatorio.questao != None %}
        <a href="#" style="color:black;" onclick="window.open('{{Relatorio.address}}', 'Pagina', 'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=770, HEIGHT=400');">Resultado {{ Relatorio.questao }}</a>
        {% endif %}
      </div>
      <div class="box-result-content">
        <p>
          {% for tag in Relatorio.tags.all %}
          <form style="float:left;" action="{% url 'agoraunicamp:search' tag.name %}" method="post">
            <input style="float:left;border:0px" class="btn-xs btn-default btn-info" type="submit" value="{{ tag.name }}"/> &nbsp
          </form>
          {% endfor %}
          <div class="pub-style"><strong>Publicado em:</strong> {{ Relatorio.publ_date }}</div>
        </p>
        <div class="plainlinks hlist" style="width:100%;clear:both; border-top:1px solid #f39c12; padding-top:0.4em; margin-top:0.8em;">
        </div>
        {{Relatorio.conteudo|safe}}
        <br>
        <div class="plainlinks hlist" style="width:100%;clear:both; border-top:1px solid #f39c12; padding-top:0.4em; margin-top:0.8em;">
        </div>
        &nbsp;&nbsp;
        <form  style="display:inline-block;" action="{% url 'resultados:like' Relatorio.id %}" method="post">
          {% csrf_token %}
          <input  id="like" name="like1" type="image" src="{% static "resultados/like.jpg" %}" alt="like"  value="Vote" height="22" width="22" />&nbsp;{{Relatorio.like}}
        </form>
        &nbsp;
        <form style="display:inline-block;" action="{% url 'resultados:dislike' Relatorio.id %}" method="post">
          {% csrf_token %}
          <input  id="dislike" name="dislike1" type="image" src="{% static "resultados/dislike.jpg" %}" alt="dislike"  value="Vote" height="22" width="22" />&nbsp;{{Relatorio.dislike}}
        </form>
      </div>
    </div>
  </br>
  {%endfor%}
</div>

<div class="right-side-result">
  {% if relatorio_hist_1 %}
  <div style="background:#f9f9f9;border:1px solid #f39c12;">
    <div class="right-box-result">Resultados - Geral
    </div>
    <div style="padding:0.4em 1em 0.3em;">
      <p>
        <p>
          {% for rel in relatorio_hist_1 %}
          <h4><li style="margin:20px;" type="disc"><a href="#" onclick="window.open('{{ rel.address }}', 'Pagina', 'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=770, HEIGHT=400');">{{rel.titulo }}<br> </a></li><h4>
          {% endfor %}
          </p>
        </p>
        <div class="plainlinks hlist" style="clear:both; border-top:1px solid #f39c12; padding-top:0.4em; margin-top:0.8em; text-align:end; font-size:95%; font-weight:bold;"><span style="white-space:nowrap;"> </a></span></div>
      </div>
    </div>
    <br>
    {% endif %}

    {% if relatorio_hist_2 %}
    <div style="background:#f9f9f9;border:1px solid #f39c12;">
      <div class="right-box-result">Resultados - Questões</div>
      <div style="padding:0.4em 1em 0.3em;">
        <p>
          <p>
            {% for rel2 in relatorio_hist_2 %}
            <h4><li style="margin:20px;" type="disc"><a href="#" onclick="window.open('{{ rel2.address }}', 'Pagina', 'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=770, HEIGHT=400');">{{ rel2.titulo }}<br> </a></li><h4>
            {% endfor %}
            </p>
          </p>
          <div class="plainlinks hlist" style="clear:both; border-top:1px solid #f39c12; padding-top:0.4em; margin-top:0.8em; text-align:end; font-size:95%; font-weight:bold;"><span style="white-space:nowrap;"> </a></span></div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>



{% if tutorial == 'nao' %}
  <div id="tutorial1" class="modal fade" role="dialog">
    <div class="modal-dialog" id="modal-dialog-mob">
      <div style="  text-align: center;" >
      <img id="tutorial1img" class="tutorial-image" src="{% static "agora/images/tutorial/11.png" %}" alt="tutorial 1"/>
      </div>
      <div class="modal-footer" style="border-top:0px;">
        <button style="display:block;float:right;" id="tutorial1-button" type="button" class="btn-sm btn-default" onclick="proximo()">Próximo</button>
        <button style="display:none;float:right;" id="tutorial2-button" type="button" class="btn-sm btn-default" data-dismiss="modal" >Continuar</button>
      </div>
    </div>
  </div>

  <script>
  $('#tutorial1').modal('show')
  </script>

  <script type="text/javascript">
  var i = 12;
  function proximo(){
    var endp = '/static/agora/images/tutorial/' + i + '.png';
    document.getElementById('tutorial1img').src=endp ;
    if (i == 12) {
      document.getElementById('tutorial1-button').style.display='none';
      document.getElementById('tutorial2-button').style.display='block';
    }
    i++;
  }
  </script>

{% endif %}



  {% endblock %}
