{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}
{% load set_var %}

{% block field_sets %}

{% set var = 0%}
{% for fieldset in adminform %}
   
        {% include "admin/includes/fieldset.html" %}
        {% if var == 1 %}
        {% csrf_token %}
        <div class="control-group">                                 
           <h4><li style="margin:20px;" type="disc"><a href="#" onclick="window.open('/admin/agora/answer/', 'Pagina', 'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=770, HEIGHT=400');">Clique aqui para abrir a página de resultados{{ request.GET.all }} {{ questao.get_gender_display }}<br> </a></li><h4>               
        </div>
       {{ questao.get_gender_display }}
       
            {% set var = 2 %}    
            {% endif %}  
{% if var != 2 %}
{% set var = 1 %}
{% endif %}  
{% endfor %}
{% endblock %}