{% extends 'agoraunicamp/base.html' %}
{% load staticfiles %}
{% load set_var %}
{% block content12 %}

<div class="box-article" style="margin-top:53px">
  <div class="box-header-article">Artigo
  </div>
  <div class="box-article-content">
    <p>
      {% for tag in article.tags.all %}
      <form style="float:left;" action="{% url 'agoraunicamp:search' tag.name %}" method="post">
        <input id="tags" style="float:left;border:0px" class="btn-xs btn-default btn-info" type="submit" value="{{ tag.name }}"/> &nbsp
      </form>
      {% endfor %}
      <div class="pub-style"><strong>Publicado em:</strong>{{ article.publ_date }}</div>
    </form>
  </p>
  <div class="plainlinks hlist" style="width:100%;clear:both; border-top:1px solid #00c0ef; padding-top:0.4em; margin-top:0.8em;">
  </div>
  <div class="box-article-title">{{ article.title|safe  }}</div>
  <div class="article">{{ article.article|safe }}</div>
  <br>
  <div class="plainlinks hlist" style="width:100%;clear:both; border-top:1px solid #00c0ef; padding-top:0.4em; margin-top:0.8em;">
  </div>

  {% for questao_associada in article.split_numbers %}
  {% for question in not_answered %}
  {% set x == 0 %}
  {% if questao_associada == question.id|slugify %}
  {% set x = 1 %}
  {% if x == 1 %}
  Leu o artigo? Talvez possa se interessar em responder: <a href="#" onclick="window.open('{{question.address}}', 'Pagina', 'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=770, HEIGHT=400');">{{ question.question_text }}</a>
  {%endif%}
  {% endif %}
  {% endfor %}
  {% endfor %}

</div>
</div>
{% endblock content12 %}
