{% extends 'agoraunicamp/base.html' %}
{% load set_var %}
{% block content12 %}
{% load staticfiles %}

<div style="background: #00c0ef" class="project-header">
  <label class="toogle-menu" for="toogle-menu-check"><span class="hamburger"></span></label>
  <h1 style="background: #00c0ef">{{projeto}} - {{sigla}}</h1>
  <input id="toogle-menu-check" name="toogle-menu-check" type="checkbox" />
  <ul class="nav">
    <li style="background: #e2e0e0"><a href="{% url 'agoraunicamp:mural' %}">Home</a></li>
    <li style="background: #f7f7f7"><a href="{% url 'agoraunicamp:paginainicial' %}">Página Inicial</a></li>
    <li style="background: #00c0ef"><a href="{% url 'conheca:conheca' %}">Conheça</a></li>
    <li style="background: #12d673"><a href="{% url 'agora:participe' %}">Participe</a></li>
    <li style="background: #f39c12"><a href="{% url 'resultados:resultados' %}">Resultados</a></li>
    <li style="background: #f56954"><a href="{% url 'forum:home' %}">Comunidade</a></li>
  </ul>
</div>

<div class="left-side-articles">

  {% for Article in object_list %}
  {% if Article.destaque == 'Sim' and Article.published == 'Sim' %}

  <div class="box-article">
    <div class="box-header-article"><a href="#" style="color:black;" onclick="window.open('{{Article.address}}', 'Pagina', 'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=770, HEIGHT=400');">Artigo em Destaque</a>
    </div>
    <div class="box-article-content">
      <p>
        {% for tag in Article.tags.all %}
        <form style="float:left;" action="{% url 'agoraunicamp:search' tag.name %}" method="post">
          <input id="tags" style="float:left;border:0px" class="btn-xs btn-default btn-info" type="submit" value="{{ tag.name }}"/> &nbsp
        </form>
        {% endfor %}
        <div class="pub-style"><strong>Publicado em:</strong>{{ Article.publ_date }}</div>
      </form>
    </p>
    <div class="plainlinks hlist" style="width:100%;clear:both; border-top:1px solid #00c0ef; padding-top:0.4em; margin-top:0.8em;">
    </div>
    <div class="box-article-title">{{ Article.title|safe  }}</div>
    <div class="article">{{ Article.article|safe }}</div>
    <br>
    <div class="plainlinks hlist" style="width:100%;clear:both; border-top:1px solid #00c0ef; padding-top:0.4em; margin-top:0.8em;">
    </div>


    {% for questao_associada in Article.split_numbers %}
    {% for question in not_answered %}
    {% set x == 0 %}
    {% if questao_associada == question.id|slugify %}
    {% set x = 1 %}
    {% if x == 1 %}
    Leu o artigo? Talvez possa se interessar em responder: <a href="#" onclick="window.open('{{question.address}}', 'Pagina', 'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=770, HEIGHT=400');">{{ question.question_text }}</a>
    {%endif%}
    {% endif %}
    {% endfor %}
    {% endfor %}

  </div>
</div> </br>

{% endif %}
{% endfor %}
{% for Article in object_list %}
{% if Article.destaque == 'Não' and Article.published == 'Sim' %}

<div class="box-article">
  
  <div class="box-article-content">
    <p>
      {% for tag in Article.tags.all %}
      <form style="float:left;" action="{% url 'agoraunicamp:search' tag.name %}" method="post">
        <input id="tags" style="float:left;border:0px" class="btn-xs btn-default btn-info" type="submit" value="{{ tag.name }}"/> &nbsp
      </form>
      {% endfor %}
      <div class="pub-style"><strong>Publicado em:</strong>{{ Article.publ_date }}</div>
    </form>
  </p>
  <div class="plainlinks hlist" style="width:100%;clear:both; border-top:1px solid #00c0ef; padding-top:0.4em; margin-top:0.8em;">
  </div>
  <div class="box-article-title">{{ Article.title|safe  }}</div>
  <div id="article">{{ Article.article|safe }}</div>
  <br>

  <div class="plainlinks hlist" style="width:100%;clear:both; border-top:1px solid #00c0ef; padding-top:0.4em; margin-top:0.8em;">
  </div>

  {% for questao_associada in Article.split_numbers %}
  {% for question in not_answered %}
  {% set x == 0 %}
  {% if questao_associada == question.id|slugify %}
  {% set x = 1 %}
  {% if x == 1 %}
  Leu o artigo? Talvez possa se interessar em responder: <a href="#" onclick="window.open('{{question.address}}', 'Pagina', 'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=770, HEIGHT=400');">{{ question.question_text }}</a>
  {%endif%}
  {% endif %}
  {% endfor %}
  {% endfor %}

</div>
</div></br>
{%endif %}
{% endfor %}

</div>

<div class="right-side-articles">
  {% for topico in topico %}
  <div class="box-article">
    <div class="box-header-article">{{ topico.topico }}</div>
    <div class="box-article-content">
      <p>
        {% for u in topico.subtopico_set.all %}
        <h5><font style="bold"><b>{{ u.subtopico_nome }}:</b></font></h5>
        <p>
          {% for x in u.link_set.all %}
          <h5><li style="margin:20px;" type="disc"><a href="#" onclick="window.open('{{ x.url }}', 'Pagina', 'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=770, HEIGHT=400');">{{ x.url_title }}<br> </a></li></h5>
          {% endfor %}
        </p>
        {% endfor %}
      </p>
      <div class="plainlinks hlist" style="clear:both; border-top:1px solid #00c0ef; padding-top:0.4em; margin-top:0.8em; text-align:end; font-size:95%; font-weight:bold;"><span style="white-space:nowrap;"> </a></span></div>
    </div>
  </div></br>
  {% endfor %}
</div>

{% if tutorial == 'nao' %}

<div id="tutorial2" class="modal fade" role="dialog">
  <div class="modal-dialog" id="modal-dialog-mob">
    <div style="  text-align: center;" >
    <img id="tutorial2img" class="tutorial-image" src="{% static "agora/images/tutorial/8.png" %}" alt="tutorial 1"/>
    </div>
    <div class="modal-footer" style="border-top:0px;">
      <button style="display:block;float:right;" id="tutorial2-button" type="button" class="btn-sm btn-default" data-dismiss="modal">Navegar pela sessão e continuar</button>
    </div>
  </div>
</div>

<script>
$('#tutorial2').modal('show')
</script>

{% endif %}

{% endblock content12 %}
